.intro__subtitle {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  max-width: 690px;
  margin: 40px 0 32px;
}
@media screen and (max-width: 1023px) {
  .intro__subtitle {
    max-width: 720px;
    margin: 40px auto 32px;
  }
}
@media screen and (max-width: 767px) {
  .intro__subtitle {
    min-width: 288px;
    line-height: 30px;
  }
}
