.place__image {
  width: 100%;
  background-size: cover;
}

@media (max-width: 1280px) {
  .place__image {
    height: 460px;
    width: 460px;
  }
}

@media (max-width: 1024px) {
  .place__image {
    height: 440px;
    width: 440px;
  }
}

@media (max-width: 768px) {
  .place__image {
    height: 340px;
    width: 340px;
  }
}

@media (max-width: 320px) {
  .place__image {
    height: 320px;
    width: 320px;
  }
}
