.intro__list {
  margin: 0;
  margin-top: 33px;
  color: #ffffff;
  list-style: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  padding: 0;
}
