.cover__title {
  max-width: 656px;
  margin: 0;
  padding: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.05;
  text-align: center;
}

@media screen and (max-width: 540px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
    min-width: calc(100% - 32px);
  }
}
