
.footer {
  padding: 92px 48px 0;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .footer {
    padding: 90px 48px 0;
  }
}


@media (max-width: 768px) {
  .footer {
    padding: 90px 24px 0;
  }
}

@media (max-width: 675px) {
  .footer {
    padding: 64px 16px 0;
    flex-direction: column;
  }
}
