.footer {
  max-width: 1184px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: auto;
  padding-top: 92px;
  padding-bottom: 24px;
}
@media screen and (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}
@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
  }
}
@media screen and (max-width: 767) {
  .footer {
    padding: 0 24px;
    min-width: 165px;
  }
}
@media screen and (max-width: 500px) {
  .footer {
    flex-direction: column;
    justify-content: space-between;
  }
}
