.place__url-heading {
  color: #aaaaaa;
  margin: 0 0 12px;
  padding: 0;

  font-size: 12px;
  font-weight: normal;
  line-height: 1.7;
  letter-spacing: 2px;
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    line-height: 1;
  }
}
